Hello, 

Your potential employer has requested that we conduct a background check on their behalf.

Please visit http://localhost:8083/candidate/{{.Token}} to accept this check.

Thanks,

Background Check System
