Hello Background Check Researcher, 

A candidate is undergoing a background check we need to verify their current employer.

Please visit http://localhost:8083/employment/{{.Token}} to perform the required verification.

Thanks,

Background Check System
