version: "3.5"
services:
  api:
    build:
      context: .
      target: app
    command: bgc-backend api
  ui:
    build:
      context: .
      target: app
    command: bgc-backend ui
    ports:
      - 8083:8083
  worker:
    build:
      context: .
      target: app
    command: bgc-backend worker
  tools:
    build:
      context: .
      target: tools
    command: tail -f /dev/null
